*{
    margin: 0;
}

.navbar{
    width: 100%;
    background-color:  #0f172a;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50;

    box-sizing: border-box;
}

.nav-logo{
    font-size: 24px;
    font-weight: bold;
}

.navlist{
    display: flex;
    gap: 30px;
    /* flex-direction: column; */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlist a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navlist a:hover{
    color: #38bdf8;
}
.navbtn{
    display: none;
    background: none;
    border: none;

    color: white;
     font-size: 28px; 
 
    cursor: pointer; 
    
}

@media (max-width: 770px){
    .navbtn{
        display: block;
        background:none !important;
      
    }
    .navlist{
        display: none; 
 
        position: absolute; 
 
        top: 70px; 
        left: 0; 
 
        width: 100%; 
 
        flex-direction: column; 
 
        background-color: #1e293b; 
 
        text-align: center; 
 
        padding: 20px 0; 
 
        gap: 20px;
    }

    .navlist.active{
        display: flex;
    }
}
